<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= action_cable_meta_tag %>
<div>
  <h3>Place a Order</h3>
</div>
<%= form_with model: @order, url: orders_path, class: "form-control m-3 w-50" do |form| %>
  <div>
    <%= form.label :customer_name, class: "form-label" %>
    <%= form.text_field :customer_name, class: "form-control" %>
    <% if @order.errors.has_key?(:customer_name) %>
      <p class="text-danger">
        <%= @order.errors[:customer_name].first %>
      </p>
    <% end %>
  </div>
  <div>
    <%= form.label :customer_contact, class: "form-label" %>
    <%= form.text_field :customer_contact, class: "form-control" %>
    <% if @order.errors.has_key?(:customer_contact) %>
      <p class="text-danger">
        <%= @order.errors[:customer_contact].first %>
      </p>
    <% end %>
  </div>
  <div>
    <%= form.label :order_type, class: "form-label" %>
    <%= form.select :order_type, Order.order_types.values, {}, {:class => "form-select"} %>
    <% if @order.errors.has_key?(:order_type) %>
      <p class="text-danger">
        <%= @order.errors[:order_type].first %>
      </p>
    <% end %>
  </div>

  <div>
    <h3 class="m-2">Order Items</h3>
    <table class="table m-1">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% if @order.order_items.any? %>
          <% @order.order_items.each do |order_item| %>
            <tr>
              <td>
                <%= select_tag "order[order_items_attributes][][item_id]", options_for_select(@items.map { |item| [item.name, item.id] }, order_item.item_id), class: "form-select" %>
              </td>
              <td>
                <%= number_field_tag "order[order_items_attributes][][quantity]", order_item.quantity, class: "form-control" %>
              </td>
              <td><a class="btn btn-danger remove-checkbox" onclick="removeItem()" >Remove</a></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% if @order.errors.has_key?(:order_items) %>
      <p class="text-danger">
        <%= @order.errors[:order_items].first %>
      </p>
    <% elsif @order.errors.has_key?(:"order_items.quantity") %>
      <p class="text-danger">
        <%= @order.errors[:"order_items.quantity"] %>
      </p>
    <% end %>
  </div>

  <div class="m-2">
    <a class="add-item btn btn-secondary" onclick="addItemClicked()">Add Item</a>
  </div>
  <hr>

  <div class="m-1">
    <%= form.submit "Create Order", class: "btn btn-primary" %>
  </div>
<% end %>

<script>  
  function addItemClicked() {
    const orderItemsTable = document.querySelector('table > tbody');

    const newRow = document.createElement('tr');
    newRow.innerHTML = `
      <td>
        <select name="order[order_items_attributes][][item_id]" class="form-select">
          <option value="">Select Item</option>
          <% @items.each do |item| %>
            <option value="<%= item.id %>"><%= item.name %></option>
          <% end %>
        </select>
      </td>
      <td><input type="number" name="order[order_items_attributes][][quantity]" class="form-control" /></td>
      <td><a class="btn btn-danger remove-checkbox" onclick="removeItem()">Remove</a></td>
    `;
    orderItemsTable.appendChild(newRow);
  }
  function removeItem() {
    const orderItemsTable = document.querySelector('table > tbody');

    orderItemsTable.addEventListener('click', (e) => {
      if (e.target.classList.contains('remove-checkbox')) {
        const row = e.target.closest('tr');
        row.remove();
      }
    });
  }
</script>
