<div class="container mt-4">
  <h1>Discounts</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Item</th>
        <th>Applicable Item</th>
        <th>Discount Rate</th>
        <th>Cap Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @discounts.each do |discount| %>
        <tr>
          <td><%= discount.item.name.titleize %></td>
          <td><%= discount.applicable_item&.name&.titleize || 'N/A' %></td>
          <td><%= discount.discount_rate %></td>
          <td><%= discount.cap_amount %></td>
          <td><%= button_to "Delete", discount_path(discount), method: :delete, data: { confirm: 'Are you sure you want to delete this discount?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <a class="btn btn-secondary" href="/discounts/new">Create Discount</a>
  </div>
</div>
