<div class="container mt-4">
  <h1>New Discount</h1>
  <%= form_with(model: @discount, url: discounts_path, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :item_id, class: "form-label" %>
      <%= form.select :item_id, Item.pluck(:name, :id), { prompt: "Select Item" }, class: "form-select" %>
      <% if @discount.errors.has_key?(:item_id) %>
        <p class="text-danger">
          <%= @discount.errors[:item_id].first %>
        </p>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :applicable_item_id, class: "form-label" %>
      <%= form.select :applicable_item_id, Item.pluck(:name, :id), { prompt: "Select Applicable Item" }, class: "form-select" %>
      <% if @discount.errors.has_key?(:applicable_item_id) %>
        <p class="text-danger">
          <%= @discount.errors[:applicable_item_id].first %>
        </p>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :discount_rate, class: "form-label" %>
      <%= form.number_field :discount_rate, step: "0.01", class: "form-control" %>
      <% if @discount.errors.has_key?(:discount_rate) %>
        <p class="text-danger">
          <%= @discount.errors[:discount_rate].first %>
        </p>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :cap_amount, class: "form-label" %>
      <%= form.number_field :cap_amount, step: "0.01", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Create Discount", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
